@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin:0px;
  padding:0px;
  }
  model-viewer{
  background-image: url("https://t3.ftcdn.net/jpg/01/50/77/96/360_F_150779636_A0cZMJ9q5mMrAI26jQg7lBfQuuwygZqh.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height:1000px;
  background-color:rgb(255, 255, 255);
  }
.Barra{
  width:100%;
  height:80px;
  font-family: Roboto;
}