@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;700&family=Roboto+Serif:wght@200;500;800&family=Roboto:wght@400;500;900&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/*** FONTS ***/
/*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
.imagen{
	width: 0%;
	display: none;
	

}
.planta:hover + .imagen{
	display: block;
	top: -7%;
	left: 55%;
	margin-right: 10px;
	margin-top: 30px;
	position:absolute;
	width: 40%;
	border-radius: 5%;
	border: #d6d6d64f;
	border-width: 5px;
	border-style:solid;
	height: 89.8%;
}
.planta {
    color: #d6d6d65b;
    text-decoration: none;
	font-size:5rem;
	margin-top: 10%;
	font-family: Shizuru;
}
.plantaN {
    color: #d6d6d65b;
    text-decoration: none;
	font-size: large;
	margin-top: 10%;
	font-family: 'Dancing Script', cursive;
}

.planta:hover {
    color:#ffffff; 
    text-decoration:none; 
    cursor:pointer;  
    font-size:5rem;
	margin-top: 10%;
	font-family: Shizuru;

}

 
/*** STYLE ***/
 *, *:before, *:after {
	 box-sizing: border-box;
	 
	 
     
}
 .textocuadros {
     overflow: hidden;
     text-decoration: none;
	 background-color: #fafafa00;
	 color: #1d1f20;
     font-size: larger;
	 font-family: "Shippori Antique B1";
     font-weight: 800;
     
}
 main {
	 float: left;
	 display: block;
	 margin-left: 5%;
	 position: relative;
	 max-width: 30%;
	
	 
	 
}
 ol.gradient-list {
	 counter-reset: gradient-counter;
	 list-style: none;
	 margin: 1.75rem 0;
	 padding-left: 1rem;
}
 ol.gradient-list > li {
	 background: rgb(27, 27, 27);
	 border-radius: 0 0.5rem 0.5rem 0.5rem;
	 counter-increment: gradient-counter;
	 margin-top: 1rem;
	 min-height: 5rem;
	 padding: 1rem 1rem 1rem 3rem;
	 position: relative;
}

 ol.gradient-list > li::before, ol.gradient-list > li::after {
	 background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
	 border-radius: 1rem 1rem 0 1rem;
	 content: '';
	 height: 3rem;
	 left: -1rem;
	 overflow: hidden;
	 position: absolute;
	 top: -1.5rem;
	 width: 3rem;
     
}
 ol.gradient-list > li::before {
	 align-items: flex-end;
	 content: counter(gradient-counter);
	 color: #1d1f20;
	 display: flex;
	 font: 900 1.5em/1 'Montserrat';
	 justify-content: flex-end;
	 padding: 0.125em 0.25em;
	 z-index: 1;
}
 ol.gradient-list > li:nth-child(10n+1):before {
	 
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li:nth-child(10n+2):before {
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li:nth-child(10n+3):before {
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li:nth-child(10n+4):before {
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li:nth-child(10n+5):before {
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li:nth-child(10n+6):before {
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li:nth-child(10n+7):before {
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li:nth-child(10n+8):before {
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li:nth-child(10n+9):before {
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li:nth-child(10n+10):before {
	 background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
 ol.gradient-list > li{
	 margin-top: 2rem;
	 background: linear-gradient(45deg, rgba(35, 37, 37, 0.685) 0%, rgba(23, 24, 24, 0.541) 100%);
}
  